{% extends 'base.html' %}
{% block body_block %}
<style>


#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

    h1{
        text-align: center;
        color: green;
    }
</style>




<table border="1" id="customers">
<h1>User Profile Detail</h1>
<thead>
<th>Name</th>
<th>Email</th>
<th>WebAddress</th>
<th>Attachment</th>
<th>Cover Letter</th>
</thead>
<tr>
    <td>{{ user.username }}</td>
    <td>{{ self.user.email }}</td>
    <td>{{ user.webaddress }}</td>
    <td>{{ user.Attachment }}</td>
    <td>{{ user.cover_letter }}</td>
</tr>
</table>









{% endblock %}